/* list page */

.list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.data-pengunjung {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: inline-block;
    margin-right: 10px;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.table-dark th {
    background-color: #333;
    color: #fff;
}

th[rowspan="2"] {
    vertical-align: middle;
}

th[colspan="2"],
td[colspan="2"] {
    border-right: none;
}

th[colspan="2"] {
    font-weight: normal;
}

th[colspan="2"]:last-child,
td[colspan="2"]:last-child {
    border-right: 1px solid #ccc;
}

.btn-filter {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-edit {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #102741;
    border: none;
    border-radius: 5px;
    color: white;
    /* cursor: pointer; */
}

.btn-delete {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    /* cursor: pointer; */
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #0056b3;
}

.tgl {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
    color: red;
    top: 100px; 
    right: 0;
}

.warning-text {
    margin-top: 20px;
}

.btn-show {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.custom-width {
    width: 100%; 
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}