/*
body{
    background-image: url("../statistik_perpustakaan/pattern.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
*/

.btn {
    font-size: 19px;
    font-family: 'Readex Pro', sans-serif;
    padding: 10px 20px; /* Adjust padding for the desired width and height */
    margin: 5px;
    border: none;
    outline: none;
    color: #26425a;
    background: #efeeee;
    cursor: pointer;
}

/* Style for the flex container */
.flex-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    border-radius: 20px; /* Apply border-radius to the container */
    border: 1px solid #ccc; /* Add a border (optional) */
    padding: 20px; /* Add padding to the container (adjust as needed) */
    max-width: 600px; /* Set a maximum width for the container (adjust as needed) */
    margin: 0 auto; /* Center the container horizontally (optional) */
    background-color: red;
}

/* Style for individual sections within the container */
.flex-container > div {
    margin: 10px 0px 10px 35px; /* Add margin between sections (adjust as needed) */
}

.form {
    max-width: 600px;
    margin-left: 300px;
    margin-top: 89px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-form {
    padding: 10px 20px;
    background-color: #212529;
    border: none;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


select#statistikLD,
select#statistikL1,
select#statistikL2, 
select#statistikJLC, 
select#statistikRBM, 
select#statistikPojokBaca, 
select#statistikLayananKel,
select#statistikLayananPaket,
select#statistikDO
select#statistikSIF
select#statistikVirtual
 {
    padding: 5px;
    background-color: #fff;
    color: #212529;
}

.pill-container {
    background-color: #212529; /* Change this to your desired background color */
    border-radius: 30px; /* Adjust the value to control the pill shape */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    margin: 10vh 30vh 20vh 30vh;

}

.pill-container label {
    color: #fff;
    margin-right: 10px;
    font-size: 16px;
}


.pill-container input,
.pill-container button {
    margin-right: 10px; /* Adjust spacing between elements */
    color: black; /* Text color */
    font-size: 16px; /* Font size */
}

/* Style the button (adjust as needed) */
.pill-container button {
    font-size: 15px;
    margin : 0px 0px 0px 20px;
    background-color: #ebd835; /* Change this to your desired button color */
    padding: 5px 10px; /* Adjust button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pill-container button:hover {
    background-color: #bbac27;
    color: black;
    font-size: 15px;
}